{% extends 'base.html' %}

{% block titulo %}
    - Aviso importante
{% endblock %}

{% block conteudo %}
    <div class="container mt-5">
      <header class="mb-4">
        <h1 class="fw-bolder mb-1 text-center">
          Cuidados ao observar o eclipse solar
        </h1>
      </header>
      <section>
        <p class="fs-5 mb-4">
          <b>AVISO IMPORTANTE!</b> É extremamente importante alertar que <b>nunca olhe diretamente para o Sol!</b> A observação do Sol requer extremos cuidados, independente da intenção ou causa desse tipo de observação, pois, caso contrário, observar o Sol inadequadamente pode causar danos irreversíveis à visão.
        </p>
        <p class="fs-5 mb-4">
          <b>Nunca utilize para ver o Sol: </b>óculos escuros, chapas de raio-x, negativos de filmes antigos, filtros polarizados ou de densidade neutra ou variável; vidros escuros; ou ainda, através de câmeras digitais, binóculos ou telescópios sem filtros adequados na objetiva ou abertura desses equipamentos.
        </p>
        <p class="text-center">
          <img src="static/equipamentosinadequados.jpg" width=375px height=250px>
        </p>
        <p class="fs-5 mb-4">
          Esses métodos listados e descritos não são únicos quanto a observar o Sol, mas descrevem procedimentos fundamentais e até mesmo obrigatórios para a total segurança e saúde da visão.
        </p>
        <h2 class="fw-bolder mb-1">
          Método 1 – observação solar com segurança através de filtros:
        </h2>
        <p class="fs-5 mb-4">
          Uma técnica de observação solar com segurança é olhando diretamente através de um filtro especialmente projetado. Esse método sugere o uso de filtros adequados para a observação segura do Sol. Os filtros permitem que apenas uma minúscula fração da luz do Sol passe por eles. As recomendações e alguns detalhamentos são importantes para compreender cada qual é indicado abaixo.
        </p>
        <h5 class="fw-bolder mb-1">
          Tipo 1 – filtro da máscara de soldador (solução econômica e segura):
        </h5>
        <p class="fs-5 mb-4">
          Um material que pode ser utilizado para a observação de um eclipse parcial é o <b>vidro da mascará de soldador nº14</b>. Esse item é utilizado por profissionais na soldagem de peças, chapas, confecção de portões e etc. É comercializado em armazéns de construção ou de serralharia. O valor desse produto é considerado baixo, não superior a R$ 5,00 (varia conforme região e localidade).
        </p>
        <p class="fs-5 mb-4">
          A recomendação é adquirir o vidro de <b>nº14</b> ou <b>superior</b>, pois, quanto mais escuro mais indicado para a observação do Sol. Uma dica importante é não exceder tempo de uso acima de 30 segundos, e realizar pausas superiores a 1 minuto. O motivo é tanto pela radiação solar que ainda transpassa o material quanto o aquecimento ao segurá-lo.
        </p>
        <p class="text-center">
          <img src="static/vidrodesoldador.jpg" width=250px height=120px>
        </p>
        <h5 class="fw-bolder mb-1">
          Tipo 2 – filtro poliéster aluminizado:
        </h5>
        <p class="fs-5 mb-4">
          Esse material, de aparência laminada e reflexiva, é um filtro composto por poliéster aluminizado que permite a observação do Sol. Ao ver através desse filtro, o Sol mostra-se branco ou levemente branco azulado. A observação por meio desse filtro tanto auxilia de maneira segura ver o Sol durante um eclipse, seja parcial ou total, como também facilita a contagem de manchas solares em sua superfície, devido o alto contraste.
        </p>
        <p class="text-center">
          <img src="static/poliesteraluminizado.jpg" width=356px height=250px>
        </p>
        <p class="fs-5 mb-4">
          Esse filtro é muito usado na observação solar através de binóculos ou telescópios adaptados para a contagem de manchas em sua superfície.
        </p>
        <p class="fs-5 mb-4">
          Entretanto, o poliéster, o qual é um tipo de plástico, vem em várias espessuras e com várias camadas de revestimentos. Sendo assim, é importante examiná-lo antes do uso, pois o filtro pode possuir, caso não bem armazenado ou condicionado, pequenos buracos. O que pode permitir a luz solar não filtrada atingir seus olhos e danificá-los.
        </p>
        <h5 class="fw-bolder mb-1">
          Tipo 3 – filtro polímero preto:
        </h5>
        <p class="fs-5 mb-4">
          Esse outro tipo de filtro solar é produzido a partir de um polímero preto que, quando observa-se o Sol através dele, dá a nossa estrela o aspecto amarelado ou alaranjado. Isso tornando-o mais agradável ou “associado” a cor que vemos quando o Sol nasce ou se põe no horizonte. Com essa característica, o material passam a ser mais utilizado para observação a olho nu, através de binóculos ou telescópios, o que difere dos filtros de poliéster aluminizados. Esse é um filtro que permite completamente a observação solar com segurança, e somente deixa passar através dele apenas 0,001% da luz do Sol.
        </p>
        <p class="text-center">
          <img src="static/polimeropreto.jpg" width=479px height=170px>
        </p>
        <p class="fs-5 mb-4">
          Esse filtro é bastante aplicado na observação solar a olho nu ou por meio de binóculos ou telescópios adaptados.
        </p>
        <p class="fs-5 mb-4">
          <b>ATENÇÃO:</b> para uma observação solar com segurança, <b>NÃO VEJA O SOL</b> por longos períodos mesmo ao utilizar os tipos de filtros citados acima, ou qualquer outro tipo de filtro. <b>Recomenda-se</b> vê-lo por até trinta segundos e pausar a observação por no mínimo um minuto.
        </p>
        <p class="fs-5 mb-4">
          Filtros adequados e certificados (ISO 12312-2) para observar um eclipse solar com segurança podem ser adaptados no formato de óculos. Para assim, favorecer a observação do fenômeno. Entretanto, não se deve confundir ou utilizar óculos escuros comuns, pois esse acessório não é fabricado para essa finalidade.
        </p>
        <h2 class="fw-bolder mb-1">
          Método 2 – observação solar com segurança por projeção:
        </h2>
        <h5 class="fw-bolder mb-1">
          Tipo 1 – projeção <i>pinhole</i> com papel cartão:
        </h5>
        <p class="fs-5 mb-4">
          Esse procedimento consiste na utilização de duas folhas de papel, sendo uma mais rígida, do “tipo cartão”, com um furo mínimo no centro, o qual pode ser feito por uma agulha ou alfinete. Enquanto a outra folha pode ser bem maior que a anterior, do “tipo cartolina comum”, preferencialmente branca, pois receberá a projeção do Sol parcialmente eclipsado.
        </p>
        <p class="text-center">
          <img src="static/pinholecartao.jpg" width=375px height=250px>
        </p>
        <h5 class="fw-bolder mb-1">
          Tipo 2 – projeção pinhole com caixa de papelão:
        </h5>
        <p class="fs-5 mb-4">
          Esse tipo consiste numa variação mais popular do método anterior, pelo qual é reutilizada uma caixa de papelão comum, ou mesmo “caixa de sapatos”. Para observar um eclipse solar com segurança (parcial ou até a totalidade) é feito um pequeno furo (também feito por uma agulha ou alfinete) num dos lados da caixa utilizada e, em seguida, é feita uma abertura maior num dos lados da caixa, mas não naquele oposto ao pequeno furo. Veja a imagem a seguir!
        </p>
        <p class="text-center">
          <img src="static/pinholecaixa.jpg" width=375px height=250px>
        </p>
        <p class="fs-5 mb-4">
          Observe que a função desse procedimento é escurecer ao redor da luz projetada dentro da caixa, semelhante a uma câmara escura. Isso permite um melhor contraste, e ainda, manter a segurança na observação solar.
        </p>
      </section>
    </div>
{% endblock %}