{% extends 'base.html' %}

{% block titulo %}
    - Conceitos de eclipses
{% endblock %}

{% block conteudo %}
    <div class="container mt-5">
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">O que é eclipse?</h1>
        </header>
        <section class="mb-5">
            <p class="fs-5 mb-4">
                <b>Eclipse</b> é o escurecimento total ou parcial de um astro feito por meio da interposição de um segundo astro frente à fonte de luz. Existem dois tipos de eclipses: o <b>solar</b> e o <b>lunar</b>.
            </p>
            <p class="fs-5 mb-4">
                É importante salientar que tanto o eclipse lunar quanto o solar dependem de um alinhamento das órbitas da Terra, ao redor do Sol, e da Lua, ao redor da Terra; caso contrário, os fenômenos não ocorrerão.
            </p>
        </section>
    </div>
    <div class="container mt-5">
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">Eclipse solar</h1>
        </header>
        <section class="mb-5">
            <p class="fs-5 mb-4">
                Um <b>eclipse solar</b> é um fenômeno astronômico que ocorre sempre que a Lua se posiciona entre o planeta Terra e o Sol, formando uma sombra que abrange um pequena faixa da superfície terrestre, fazendo com que, durante o eclipse, essa área fique escura durante um intervalo de tempo limitado do dia.
            </p>
            <p class="fs-5 mb-4">
                Durante o eclipse solar, duas áreas bem definidas são projetadas na superfície terrestre: a umbra e a penumbra. Confira o modelo esquemático a seguir:
            </p>
            <p style="text-align: center">
              <img src="static/esquemaES.jpg" width=400 height=208>
            </p>
            <p class="fs-5 mb-4">
                A área umbral, ou seja, a área na qual a umbra se apresenta, é onde se manifesta o eclipse de forma total, onde fica totalmente escuro durante o eclipse. Já a área penumbral é aquela onde o eclipse ocorre apenas parcialmente, com uma breve sombra.
            </p>
            <p class="fs-5 mb-">
              Dificilmente ocorrem dois eclipses solares com características idênticas, pois suas ocorrências dependem do grau de inclinação da órbita lunar e também da distância da Terra com a Lua e com o Sol durante o fenômeno astronômico. Assim, dependendo dessa distância, não se chega a formar uma sombra por completo, mas apenas um “ponto preto”, que seria a Lua, em menor tamanho aparente, passando em frente ao Sol diante de sua visão na Terra.
            </p>
            <p class="fs-5 mb-4">
                Portanto, quando a Lua está perto da Terra e a Terra está longe do Sol, forma-se uma sombra completa, e quando a Lua está mais longe da Terra, forma-se uma sombra incompleta. Dessa forma, há quatro tipos de eclipses solares.
            </p>
            <p style="text-align: center">
                <img src="static/tiposES.jpg" width=274px height=98px>
            </p>
            </p>
            <p class="fs-5 mb-4">
                <b>Eclipse solar total:</b> quando toda a luz do sol é ocultada pela Lua
            <p class="fs-5 mb-4">
                <b>Eclipse solar parcial:</b> quando apenas parte da luminosidade solar é ocultada pelo disco lunar.
            </p>
            <p class="fs-5 mb-4">
                <b>Eclipse anelar (ou anular):</b> quando o tamanho da Lua não é o suficiente para encobrir toda a área do sol, formando um “anel” em volta do satélite natural da Terra. Esse tipo de eclipse é chamado de "anel de fogo".
            </p>
            <p class="fs-5 mb-4">
                <b>Eclipse híbrido:</b> quando o eclipse é total em alguns pontos de visão e anelar em outros, em virtude do grau de inclinação da órbita lunar.
            </p>            
            <p class="fs-5 mb-4">
                O fenômeno do eclipse solar só pode acontecer durante a Lua nova, pois é somente nessa fase que a Lua encontra-se entre a Terra e o Sol.
            </p>
        </section>
    </div>
    <div class="container mt-5">
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">Eclipse lunar</h1>
        </header>
        <p class="fs-5 mb-4">
            O <b>eclipse lunar</b> ocorre quando a sombra da Terra, produzida pelo Sol, é projetada sobre a Lua, cobrindo-a.
        </p>
        <p class="fs-5 mb-4">
            Observe a figura abaixo, que apresenta um esquema que mostra a formação de um eclipse lunar:
        </p>
        <p style="text-align: center">
            <img src="static/esquemaEL.jpg" width=400 height=208>
        </p>
        <p class="fs-5 mb-4">
            O eclipse lunar pode ser <b>total</b>, <b>parcial</b> ou <b>penumbral</b>.
        </p>
        <p style="text-align: center">
            <img src="static/tiposEL.jpg" width=274px height=98px>
        </p>
        <p class="fs-5 mb-4">
            <b>Eclipse lunar total: </b>acontece quando toda a sombra da Terra é projetada sobre a Lua, o que se dá quando o satélite está inteiramente posicionado na região da umbra.
        </p>
        <p class="fs-5 mb-4">
            <b>Eclipse lunar parcial: </b>acontece quando somente uma parte da Lua é recoberta pela sombra terrestre. Isso se dá quando o alinhamento entre o satélite, a Terra e o Sol não ocorre perfeitamente, e somente uma parte da superfície lunar recebe diretamente a luz do Sol. A forma como ele será visto da Terra dependerá justamente do alinhamento.
        </p>
        <p class="fs-5 mb-4">
            <b>Eclipse lunar penumbral: </b>como o próprio nome sugere, ocorre quando a Lua está na região de penumbra da sombra da Terra. Em função disso, a penumbra projetada na superfície lunar é imperceptível a olho nu.<br>
        </p>
        <p class="fs-5 mb-4">
            A Lua não desaparece completamente na sombra da Terra, mesmo durante um eclipse total, podendo então, assumir uma coloração avermelhada ou alaranjada. Isto é consequência da refração e da dispersão da luz do Sol na atmosfera da Terra que desvia apenas certos comprimentos de onda para dentro da região da umbra. Observe o esquema abaixo:
        </p>
        <p style="text-align: center">
            <img src="static/esquemaluavermelha.jpg" width=320px height=125px>
        </p>
        <p class="fs-5 mb-4">
            <br>O eclipse lunar ocorre apenas na fase de Lua cheia.
        </p>
        <header class="mb-4">
            <h1 class="fw-bolder mb-1">Por que não ocorrem eclipses todos os meses?</h1>
        </header>
        <p class="fs-5 mb-4">
            A resposta para essa pergunta é que a inclinação do plano de órbita da Lua em torno da Terra é de 5,2 graus em relação à órbita da Terra em torno do Sol. Se o plano de órbita da Lua correspondesse ao plano de órbita da Terra, teríamos um eclipse solar a cada Lua nova e um lunar a cada Lua cheia.
        </p>
        <p class="fs-5 mb-4">
            Só ocorrem eclipses quando a Lua está na fase de Lua Cheia ou Nova, e quando o Sol está sobre a <i>linha dos nodos</i>, que é a linha de intersecção do plano da órbita da Terra em torno do Sol com o plano da órbita da Lua em torno da Terra. Observe o esquema abaixo:
        </p>
        <p style="text-align: center">
            <img src="static/nodos.jpg">
        </p>
    </div>
{% endblock %}